extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9


        h1 Marat Enaliev


        p.lead.text-light
          | Full Stack JavaScript Developer.


        .portfolio-bio
          p
            | I can build any website from scratch due to my solid knowledge of HTML and CSS. In addition I have experience in making responsive web design for a wide variety of devices.
            | There are both client-side JavaScript and Node.js in my toolset. It broadens my horizon giving me the skills which are necessary for creating working web applications.
            | Making career in web development is my personal conscious choice. This job provides you with limitless possibilities to express your creativity, and you always have something new to learn. Self-perfection and self-expression are my key life goals so I'm truly motivated to grow in this field.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li HTML
          li CSS
          li vanilla JavaScript
          li jQuery
          li AJAX
          li Promises
          li Git
          li Responsive Web Design
          li Node.js
          li Express
        h6 Contact Info


        ul
          li 8-985-978-12-59
          li enamarat@yandex.ru


        a.button.expanded(href='https://www.linkedin.com/in/enamarat-loser-60546517b/') LinkedIn
        a.button.expanded(href='https://github.com/enamarat') GitHub
        a.button.expanded(href='https://twitter.com/EnalievMarat') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
