extends layout.pug

block content
  article.grid-container.portfolio-intro
    div

      //- Add a title or heading like My Portfolio, or Hey, Potential Employers, or Let's make the web great together!
      h1 Behold the portfolio of a genius!

      //- Add a description for your portfolio, what this project is, it's purpose, what it's suppossed to accomplish, etc.
      p.lead.text-light
        | This portfolio represents samples of my craftsmanship which show exquisite techniques of my coding and sophisticated paths of my reasoning as a developer. After looking at my portfolio you won't be impressed - you mind will be totally blown instead!
  article.grid-container.portfolio-index

    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      //- Use the Pug `each` iterator to create a project img, title and link in the markup for each of the projects you are showcasing.

      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`/static${project.image_urls[0]}`)
            h5= project.project_name

      //- Use a combination of interpolation and template literals as needed to dynamically generate the routes in the href, as well as the img's src and the projects title.
